-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: seminario
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `acciones_correctivas`
--

DROP TABLE IF EXISTS `acciones_correctivas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `acciones_correctivas` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `titulo` varchar(255) NOT NULL,
  `descripcion` text NOT NULL,
  `user_id` bigint(20) unsigned NOT NULL,
  `fecha_prevista` date NOT NULL,
  `fecha_limite` date DEFAULT NULL,
  `estado` enum('pendiente','en_progreso','completada','cancelada') NOT NULL DEFAULT 'pendiente',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `acciones_correctivas_user_id_foreign` (`user_id`),
  CONSTRAINT `acciones_correctivas_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `acciones_correctivas`
--

LOCK TABLES `acciones_correctivas` WRITE;
/*!40000 ALTER TABLE `acciones_correctivas` DISABLE KEYS */;
/*!40000 ALTER TABLE `acciones_correctivas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alertas`
--

DROP TABLE IF EXISTS `alertas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `alertas` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `lote_id` bigint(20) unsigned NOT NULL,
  `tipo_alerta` varchar(255) NOT NULL,
  `periodo` varchar(255) DEFAULT NULL,
  `detalles` text NOT NULL,
  `fecha_resolucion` timestamp NULL DEFAULT NULL,
  `peso_actual` decimal(8,2) DEFAULT NULL,
  `peso_esperado` decimal(8,2) DEFAULT NULL,
  `porcentaje_desviacion` decimal(8,2) DEFAULT NULL,
  `tasa_crecimiento` decimal(8,2) DEFAULT NULL,
  `consumo_alimento_reciente` decimal(8,2) DEFAULT NULL,
  `factor_conversion_alimento` decimal(8,2) DEFAULT NULL,
  `dias_desviacion` int(11) DEFAULT NULL,
  `observaciones_alimentacion` text DEFAULT NULL,
  `historico_pesos` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`historico_pesos`)),
  `nombre_enfermedad` varchar(255) DEFAULT NULL,
  `cantidad_afectados` int(11) DEFAULT NULL,
  `porcentaje_afectados` decimal(8,2) DEFAULT NULL,
  `nivel_riesgo` enum('alto','medio','bajo') DEFAULT NULL,
  `estado_tratamiento` varchar(255) DEFAULT NULL,
  `descripcion_tratamiento` text DEFAULT NULL,
  `fecha_deteccion` date DEFAULT NULL,
  `fecha_inicio_tratamiento` date DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `alertas_lote_id_foreign` (`lote_id`),
  CONSTRAINT `alertas_lote_id_foreign` FOREIGN KEY (`lote_id`) REFERENCES `lotes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alertas`
--

LOCK TABLES `alertas` WRITE;
/*!40000 ALTER TABLE `alertas` DISABLE KEYS */;
/*!40000 ALTER TABLE `alertas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alimentacions`
--

DROP TABLE IF EXISTS `alimentacions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `alimentacions` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `lote_id` bigint(20) unsigned NOT NULL,
  `bodega_id` bigint(20) unsigned DEFAULT NULL,
  `tipo_alimento_id` bigint(20) unsigned DEFAULT NULL,
  `inventario_item_id` bigint(20) unsigned DEFAULT NULL,
  `usuario_id` bigint(20) unsigned NOT NULL,
  `fecha_alimentacion` date NOT NULL,
  `hora_alimentacion` time NOT NULL,
  `cantidad_kg` decimal(8,2) NOT NULL COMMENT 'Cantidad en libras',
  `costo_total` decimal(10,2) DEFAULT NULL,
  `metodo_alimentacion` enum('manual','automatico','semi_automatico') NOT NULL DEFAULT 'manual',
  `frecuencia_diaria` int(11) NOT NULL DEFAULT 1,
  `temperatura_agua` decimal(5,2) DEFAULT NULL,
  `ph_agua` decimal(4,2) DEFAULT NULL,
  `oxigeno_disuelto` decimal(5,2) DEFAULT NULL,
  `estado_peces` enum('normal','poco_apetito','muy_activos','estresados','enfermedad') DEFAULT NULL,
  `porcentaje_consumo` decimal(5,2) DEFAULT NULL,
  `observaciones` text DEFAULT NULL,
  `condiciones_climaticas` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`condiciones_climaticas`)),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `alimentacions_lote_id_fecha_alimentacion_index` (`lote_id`,`fecha_alimentacion`),
  KEY `alimentacions_usuario_id_fecha_alimentacion_index` (`usuario_id`,`fecha_alimentacion`),
  KEY `alimentacions_tipo_alimento_id_index` (`tipo_alimento_id`),
  KEY `alimentacions_bodega_id_foreign` (`bodega_id`),
  KEY `alimentacions_inventario_item_id_foreign` (`inventario_item_id`),
  CONSTRAINT `alimentacions_bodega_id_foreign` FOREIGN KEY (`bodega_id`) REFERENCES `bodegas` (`id`) ON DELETE SET NULL,
  CONSTRAINT `alimentacions_inventario_item_id_foreign` FOREIGN KEY (`inventario_item_id`) REFERENCES `inventario_items` (`id`) ON DELETE SET NULL,
  CONSTRAINT `alimentacions_lote_id_foreign` FOREIGN KEY (`lote_id`) REFERENCES `lotes` (`id`) ON DELETE CASCADE,
  CONSTRAINT `alimentacions_tipo_alimento_id_foreign` FOREIGN KEY (`tipo_alimento_id`) REFERENCES `tipo_alimentos` (`id`),
  CONSTRAINT `alimentacions_usuario_id_foreign` FOREIGN KEY (`usuario_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=88 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alimentacions`
--

LOCK TABLES `alimentacions` WRITE;
/*!40000 ALTER TABLE `alimentacions` DISABLE KEYS */;
/*!40000 ALTER TABLE `alimentacions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bitacoras`
--

DROP TABLE IF EXISTS `bitacoras`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bitacoras` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `accion` varchar(255) NOT NULL,
  `detalles` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `bitacoras_user_id_foreign` (`user_id`),
  CONSTRAINT `bitacoras_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=178 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bitacoras`
--

LOCK TABLES `bitacoras` WRITE;
/*!40000 ALTER TABLE `bitacoras` DISABLE KEYS */;
/*!40000 ALTER TABLE `bitacoras` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bodegas`
--

DROP TABLE IF EXISTS `bodegas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bodegas` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `ubicacion` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bodegas`
--

LOCK TABLES `bodegas` WRITE;
/*!40000 ALTER TABLE `bodegas` DISABLE KEYS */;
INSERT INTO `bodegas` VALUES (1,'Bodega Principal','Instalaci├│n Central - Bloque A','2025-10-20 22:57:01','2025-10-20 22:57:01'),(2,'Bodega de Alimentos','Instalaci├│n Central - Bloque B','2025-10-20 22:57:01','2025-10-20 22:57:01'),(3,'Bodega de Insumos','Instalaci├│n Central - Bloque C','2025-10-20 22:57:01','2025-10-20 22:57:01');
/*!40000 ALTER TABLE `bodegas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache` (
  `key` varchar(255) NOT NULL,
  `value` mediumtext NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) NOT NULL,
  `owner` varchar(255) NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clientes`
--

DROP TABLE IF EXISTS `clientes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `clientes` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `telefono` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `direccion` varchar(255) DEFAULT NULL,
  `documento` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clientes`
--

LOCK TABLES `clientes` WRITE;
/*!40000 ALTER TABLE `clientes` DISABLE KEYS */;
/*!40000 ALTER TABLE `clientes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cosechas_parciales`
--

DROP TABLE IF EXISTS `cosechas_parciales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cosechas_parciales` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `lote_id` bigint(20) unsigned NOT NULL,
  `fecha` date NOT NULL,
  `cantidad_cosechada` int(10) unsigned NOT NULL,
  `peso_cosechado_kg` decimal(8,2) DEFAULT NULL,
  `destino` enum('venta','consumo','muestra','otro') NOT NULL DEFAULT 'venta',
  `responsable` varchar(120) DEFAULT NULL,
  `observaciones` text DEFAULT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `cliente_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `codigo_venta` varchar(255) DEFAULT NULL,
  `cliente` varchar(255) DEFAULT NULL,
  `tipo_cliente` enum('CF','NIT') NOT NULL DEFAULT 'CF',
  `cliente_nit` varchar(20) DEFAULT NULL,
  `cliente_nombre` varchar(255) DEFAULT NULL,
  `nombre_cliente` varchar(255) DEFAULT NULL,
  `direccion_cliente` varchar(255) DEFAULT NULL,
  `telefono_cliente` varchar(20) DEFAULT NULL,
  `email_cliente` varchar(255) DEFAULT NULL,
  `fecha_venta` date DEFAULT NULL,
  `precio_kg` decimal(10,2) DEFAULT NULL,
  `total_venta` decimal(10,2) DEFAULT NULL,
  `tipo_cambio` decimal(8,4) DEFAULT NULL,
  `total_usd` decimal(10,2) DEFAULT NULL,
  `metodo_pago` enum('efectivo','transferencia','cheque','credito') DEFAULT NULL,
  `estado_venta` enum('pendiente','completada','cancelada') NOT NULL DEFAULT 'pendiente',
  `observaciones_venta` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `cosechas_parciales_lote_id_foreign` (`lote_id`),
  KEY `cosechas_parciales_user_id_foreign` (`user_id`),
  KEY `cosechas_parciales_cliente_id_foreign` (`cliente_id`),
  CONSTRAINT `cosechas_parciales_cliente_id_foreign` FOREIGN KEY (`cliente_id`) REFERENCES `clientes` (`id`) ON DELETE SET NULL,
  CONSTRAINT `cosechas_parciales_lote_id_foreign` FOREIGN KEY (`lote_id`) REFERENCES `lotes` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `cosechas_parciales_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cosechas_parciales`
--

LOCK TABLES `cosechas_parciales` WRITE;
/*!40000 ALTER TABLE `cosechas_parciales` DISABLE KEYS */;
/*!40000 ALTER TABLE `cosechas_parciales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detalle_ventas`
--

DROP TABLE IF EXISTS `detalle_ventas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `detalle_ventas` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `venta_id` bigint(20) unsigned NOT NULL,
  `articulo_id` bigint(20) unsigned DEFAULT NULL,
  `nombre_articulo` varchar(255) NOT NULL,
  `precio_unitario` decimal(12,2) NOT NULL,
  `cantidad` decimal(12,2) NOT NULL,
  `total` decimal(14,2) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `detalle_ventas_venta_id_foreign` (`venta_id`),
  CONSTRAINT `detalle_ventas_venta_id_foreign` FOREIGN KEY (`venta_id`) REFERENCES `ventas_old` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detalle_ventas`
--

LOCK TABLES `detalle_ventas` WRITE;
/*!40000 ALTER TABLE `detalle_ventas` DISABLE KEYS */;
/*!40000 ALTER TABLE `detalle_ventas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `enfermedades`
--

DROP TABLE IF EXISTS `enfermedades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `enfermedades` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `lote_id` bigint(20) unsigned NOT NULL,
  `nombre` varchar(255) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `fecha` date NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `enfermedades_lote_id_foreign` (`lote_id`),
  CONSTRAINT `enfermedades_lote_id_foreign` FOREIGN KEY (`lote_id`) REFERENCES `lotes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `enfermedades`
--

LOCK TABLES `enfermedades` WRITE;
/*!40000 ALTER TABLE `enfermedades` DISABLE KEYS */;
/*!40000 ALTER TABLE `enfermedades` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `entrada_compra_detalles`
--

DROP TABLE IF EXISTS `entrada_compra_detalles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `entrada_compra_detalles` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `entrada_id` bigint(20) unsigned NOT NULL,
  `item_id` bigint(20) unsigned NOT NULL,
  `descripcion` varchar(255) DEFAULT NULL,
  `cantidad` decimal(15,3) NOT NULL,
  `unidad` varchar(20) DEFAULT NULL,
  `costo_unitario` decimal(15,4) NOT NULL,
  `subtotal` decimal(15,2) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `entrada_compra_detalles_entrada_id_foreign` (`entrada_id`),
  KEY `entrada_compra_detalles_item_id_foreign` (`item_id`),
  CONSTRAINT `entrada_compra_detalles_entrada_id_foreign` FOREIGN KEY (`entrada_id`) REFERENCES `entrada_compras` (`id`) ON DELETE CASCADE,
  CONSTRAINT `entrada_compra_detalles_item_id_foreign` FOREIGN KEY (`item_id`) REFERENCES `inventario_items` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `entrada_compra_detalles`
--

LOCK TABLES `entrada_compra_detalles` WRITE;
/*!40000 ALTER TABLE `entrada_compra_detalles` DISABLE KEYS */;
INSERT INTO `entrada_compra_detalles` VALUES (1,1,1,NULL,500.000,NULL,15.5000,7750.00,'2025-10-25 07:22:14','2025-10-25 07:22:14');
/*!40000 ALTER TABLE `entrada_compra_detalles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `entrada_compras`
--

DROP TABLE IF EXISTS `entrada_compras`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `entrada_compras` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `proveedor_id` bigint(20) unsigned NOT NULL,
  `numero_documento` varchar(255) DEFAULT NULL,
  `fecha_documento` date DEFAULT NULL,
  `fecha_ingreso` date NOT NULL,
  `moneda` varchar(5) NOT NULL DEFAULT 'GTQ',
  `tipo_cambio` decimal(10,4) DEFAULT NULL,
  `subtotal` decimal(15,2) NOT NULL DEFAULT 0.00,
  `impuesto` decimal(15,2) NOT NULL DEFAULT 0.00,
  `total` decimal(15,2) NOT NULL DEFAULT 0.00,
  `observaciones` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `entrada_compras_proveedor_id_foreign` (`proveedor_id`),
  KEY `entrada_compras_numero_documento_index` (`numero_documento`),
  CONSTRAINT `entrada_compras_proveedor_id_foreign` FOREIGN KEY (`proveedor_id`) REFERENCES `proveedores` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `entrada_compras`
--

LOCK TABLES `entrada_compras` WRITE;
/*!40000 ALTER TABLE `entrada_compras` DISABLE KEYS */;
INSERT INTO `entrada_compras` VALUES (1,1,'8554211513261','2025-10-25','2025-10-25','GTQ',7.8500,7750.00,0.00,7750.00,'asdfasdf','2025-10-25 07:22:14','2025-10-25 07:22:14',NULL);
/*!40000 ALTER TABLE `entrada_compras` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `failed_jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) NOT NULL,
  `connection` text NOT NULL,
  `queue` text NOT NULL,
  `payload` longtext NOT NULL,
  `exception` longtext NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventario_existencias`
--

DROP TABLE IF EXISTS `inventario_existencias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `inventario_existencias` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `item_id` bigint(20) unsigned NOT NULL,
  `bodega_id` bigint(20) unsigned NOT NULL,
  `stock_actual` decimal(12,3) NOT NULL DEFAULT 0.000,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `inventario_existencias_item_id_bodega_id_unique` (`item_id`,`bodega_id`),
  KEY `inventario_existencias_bodega_id_foreign` (`bodega_id`),
  CONSTRAINT `inventario_existencias_bodega_id_foreign` FOREIGN KEY (`bodega_id`) REFERENCES `bodegas` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `inventario_existencias_item_id_foreign` FOREIGN KEY (`item_id`) REFERENCES `inventario_items` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventario_existencias`
--

LOCK TABLES `inventario_existencias` WRITE;
/*!40000 ALTER TABLE `inventario_existencias` DISABLE KEYS */;
INSERT INTO `inventario_existencias` VALUES (1,1,2,225.500,'2025-10-20 22:57:01','2025-10-25 06:02:07'),(2,2,2,150.750,'2025-10-20 22:57:01','2025-10-20 22:57:01'),(3,3,3,45.000,'2025-10-20 22:57:01','2025-10-20 22:57:01'),(4,4,3,8.000,'2025-10-20 22:57:01','2025-10-20 22:57:01'),(5,5,3,5.000,'2025-10-20 22:57:01','2025-10-25 10:07:23'),(6,1,1,570.000,'2025-10-20 22:57:01','2025-10-25 07:22:14'),(7,6,2,40.000,'2025-10-25 04:28:53','2025-10-25 07:06:51');
/*!40000 ALTER TABLE `inventario_existencias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventario_items`
--

DROP TABLE IF EXISTS `inventario_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `inventario_items` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `sku` varchar(255) DEFAULT NULL,
  `tipo` enum('alimento','insumo') NOT NULL,
  `unidad_base` enum('kg','lb','unidad','litro') NOT NULL DEFAULT 'kg',
  `stock_minimo` decimal(12,3) NOT NULL DEFAULT 0.000,
  `costo_unitario` decimal(12,2) DEFAULT NULL COMMENT 'Costo por unidad base (kg, litro, etc.)',
  `precio_promedio` decimal(12,2) DEFAULT NULL COMMENT 'Precio promedio ponderado',
  `moneda` varchar(3) NOT NULL DEFAULT 'GTQ' COMMENT 'Moneda del costo',
  `fecha_ultimo_costo` date DEFAULT NULL COMMENT 'Fecha del ├║ltimo costo registrado',
  `costo_minimo` decimal(12,2) DEFAULT NULL COMMENT 'Costo m├¡nimo hist├│rico',
  `costo_maximo` decimal(12,2) DEFAULT NULL COMMENT 'Costo m├íximo hist├│rico',
  `descripcion` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `inventario_items_sku_unique` (`sku`),
  KEY `inventario_items_tipo_index` (`tipo`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventario_items`
--

LOCK TABLES `inventario_items` WRITE;
/*!40000 ALTER TABLE `inventario_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventario_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventario_lotes`
--

DROP TABLE IF EXISTS `inventario_lotes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `inventario_lotes` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `item_id` bigint(20) unsigned NOT NULL,
  `bodega_id` bigint(20) unsigned NOT NULL,
  `lote` varchar(255) DEFAULT NULL,
  `fecha_ingreso` date DEFAULT NULL,
  `fecha_vencimiento` date DEFAULT NULL,
  `stock_lote` decimal(14,3) NOT NULL DEFAULT 0.000,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `inventario_lotes_item_id_bodega_id_index` (`item_id`,`bodega_id`),
  KEY `inventario_lotes_fecha_vencimiento_index` (`fecha_vencimiento`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventario_lotes`
--

LOCK TABLES `inventario_lotes` WRITE;
/*!40000 ALTER TABLE `inventario_lotes` DISABLE KEYS */;
INSERT INTO `inventario_lotes` VALUES (1,6,2,'asdfasdfd','2025-10-24','2025-10-31',50.000,'2025-10-25 04:28:53','2025-10-25 04:28:53'),(2,6,2,'asdf','2025-10-25','2025-11-06',50.000,'2025-10-25 06:37:52','2025-10-25 06:37:52');
/*!40000 ALTER TABLE `inventario_lotes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventario_movimientos`
--

DROP TABLE IF EXISTS `inventario_movimientos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `inventario_movimientos` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `item_id` bigint(20) unsigned NOT NULL,
  `bodega_id` bigint(20) unsigned NOT NULL,
  `tipo` enum('entrada','salida','ajuste') NOT NULL,
  `cantidad_base` decimal(12,3) NOT NULL,
  `unidad_origen` varchar(16) DEFAULT NULL,
  `cantidad_origen` decimal(12,3) DEFAULT NULL,
  `referencia_type` varchar(255) DEFAULT NULL,
  `referencia_id` bigint(20) unsigned DEFAULT NULL,
  `fecha` date NOT NULL,
  `descripcion` varchar(255) DEFAULT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `inventario_movimientos_item_id_foreign` (`item_id`),
  KEY `inventario_movimientos_bodega_id_foreign` (`bodega_id`),
  KEY `inventario_movimientos_referencia_type_referencia_id_index` (`referencia_type`,`referencia_id`),
  KEY `inventario_movimientos_user_id_foreign` (`user_id`),
  KEY `inventario_movimientos_tipo_index` (`tipo`),
  CONSTRAINT `inventario_movimientos_bodega_id_foreign` FOREIGN KEY (`bodega_id`) REFERENCES `bodegas` (`id`),
  CONSTRAINT `inventario_movimientos_item_id_foreign` FOREIGN KEY (`item_id`) REFERENCES `inventario_items` (`id`),
  CONSTRAINT `inventario_movimientos_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventario_movimientos`
--

LOCK TABLES `inventario_movimientos` WRITE;
/*!40000 ALTER TABLE `inventario_movimientos` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventario_movimientos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_batches`
--

DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `job_batches` (
  `id` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `total_jobs` int(11) NOT NULL,
  `pending_jobs` int(11) NOT NULL,
  `failed_jobs` int(11) NOT NULL,
  `failed_job_ids` longtext NOT NULL,
  `options` mediumtext DEFAULT NULL,
  `cancelled_at` int(11) DEFAULT NULL,
  `created_at` int(11) NOT NULL,
  `finished_at` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_batches`
--

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) NOT NULL,
  `payload` longtext NOT NULL,
  `attempts` tinyint(3) unsigned NOT NULL,
  `reserved_at` int(10) unsigned DEFAULT NULL,
  `available_at` int(10) unsigned NOT NULL,
  `created_at` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB AUTO_INCREMENT=55 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `limpieza_insumo`
--

DROP TABLE IF EXISTS `limpieza_insumo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `limpieza_insumo` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `limpieza_id` bigint(20) unsigned NOT NULL,
  `inventario_item_id` bigint(20) unsigned NOT NULL,
  `cantidad_planificada` decimal(10,3) NOT NULL DEFAULT 0.000,
  `cantidad_real` decimal(10,3) NOT NULL,
  `costo_unitario` decimal(10,2) NOT NULL DEFAULT 0.00,
  `costo_total` decimal(10,2) NOT NULL DEFAULT 0.00,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `limpieza_insumo_limpieza_id_inventario_item_id_unique` (`limpieza_id`,`inventario_item_id`),
  KEY `limpieza_insumo_inventario_item_id_foreign` (`inventario_item_id`),
  CONSTRAINT `limpieza_insumo_inventario_item_id_foreign` FOREIGN KEY (`inventario_item_id`) REFERENCES `inventario_items` (`id`) ON DELETE CASCADE,
  CONSTRAINT `limpieza_insumo_limpieza_id_foreign` FOREIGN KEY (`limpieza_id`) REFERENCES `limpiezas` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `limpieza_insumo`
--

LOCK TABLES `limpieza_insumo` WRITE;
/*!40000 ALTER TABLE `limpieza_insumo` DISABLE KEYS */;
INSERT INTO `limpieza_insumo` VALUES (7,5,6,15.000,15.000,5.00,75.00,'2025-10-25 07:06:51','2025-10-25 07:06:51');
/*!40000 ALTER TABLE `limpieza_insumo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `limpiezas`
--

DROP TABLE IF EXISTS `limpiezas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `limpiezas` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `fecha` date NOT NULL,
  `area` varchar(255) NOT NULL,
  `responsable` varchar(255) NOT NULL,
  `protocolo_sanidad_id` bigint(20) unsigned NOT NULL,
  `actividades_ejecutadas` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`actividades_ejecutadas`)),
  `observaciones` text DEFAULT NULL,
  `costo_total` decimal(10,2) DEFAULT NULL,
  `insumos_consumidos` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`insumos_consumidos`)),
  `estado` enum('no_ejecutado','en_progreso','completado') NOT NULL DEFAULT 'no_ejecutado',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `limpiezas_protocolo_sanidad_id_foreign` (`protocolo_sanidad_id`),
  CONSTRAINT `limpiezas_protocolo_sanidad_id_foreign` FOREIGN KEY (`protocolo_sanidad_id`) REFERENCES `protocolo_sanidads` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `limpiezas`
--

LOCK TABLES `limpiezas` WRITE;
/*!40000 ALTER TABLE `limpiezas` DISABLE KEYS */;
/*!40000 ALTER TABLE `limpiezas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lotes`
--

DROP TABLE IF EXISTS `lotes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lotes` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `codigo_lote` varchar(255) NOT NULL,
  `especie` varchar(255) NOT NULL,
  `cantidad_inicial` int(11) NOT NULL,
  `cantidad_actual` int(11) NOT NULL,
  `peso_promedio_inicial` decimal(8,2) DEFAULT NULL,
  `talla_promedio_inicial` decimal(8,2) DEFAULT NULL,
  `peso_promedio_actual` decimal(8,2) DEFAULT NULL,
  `precio_libra` decimal(8,2) DEFAULT NULL COMMENT 'Precio por kilogramo del lote',
  `precio_unitario_pez` decimal(8,2) DEFAULT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_siembra` date DEFAULT NULL,
  `fecha_cosecha` date DEFAULT NULL,
  `unidad_produccion_id` bigint(20) unsigned DEFAULT NULL,
  `estado` enum('activo','trasladado','cosechado','inactivo') NOT NULL DEFAULT 'activo',
  `observaciones` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `lotes_codigo_lote_unique` (`codigo_lote`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lotes`
--

LOCK TABLES `lotes` WRITE;
/*!40000 ALTER TABLE `lotes` DISABLE KEYS */;
/*!40000 ALTER TABLE `lotes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mantenimiento_insumo`
--

DROP TABLE IF EXISTS `mantenimiento_insumo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mantenimiento_insumo` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `mantenimiento_unidad_id` bigint(20) unsigned NOT NULL,
  `inventario_item_id` bigint(20) unsigned NOT NULL,
  `cantidad` int(11) NOT NULL DEFAULT 1,
  `costo_unitario` decimal(10,2) DEFAULT NULL,
  `costo_total` decimal(10,2) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `mant_insumo_unique` (`mantenimiento_unidad_id`,`inventario_item_id`),
  KEY `mantenimiento_insumo_inventario_item_id_foreign` (`inventario_item_id`),
  CONSTRAINT `mantenimiento_insumo_inventario_item_id_foreign` FOREIGN KEY (`inventario_item_id`) REFERENCES `inventario_items` (`id`) ON DELETE CASCADE,
  CONSTRAINT `mantenimiento_insumo_mantenimiento_unidad_id_foreign` FOREIGN KEY (`mantenimiento_unidad_id`) REFERENCES `mantenimiento_unidades` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mantenimiento_insumo`
--

LOCK TABLES `mantenimiento_insumo` WRITE;
/*!40000 ALTER TABLE `mantenimiento_insumo` DISABLE KEYS */;
INSERT INTO `mantenimiento_insumo` VALUES (1,1,6,5,5.00,25.00,'2025-10-25 04:36:53','2025-10-25 04:36:53'),(2,2,6,5,5.00,25.00,'2025-10-25 05:04:58','2025-10-25 05:04:58'),(3,3,6,15,5.00,75.00,'2025-10-25 05:49:10','2025-10-25 05:49:10'),(4,4,6,20,5.00,100.00,'2025-10-25 05:58:45','2025-10-25 05:58:45');
/*!40000 ALTER TABLE `mantenimiento_insumo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mantenimiento_unidades`
--

DROP TABLE IF EXISTS `mantenimiento_unidades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mantenimiento_unidades` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `unidad_produccion_id` bigint(20) unsigned NOT NULL,
  `user_id` bigint(20) unsigned NOT NULL,
  `fecha_mantenimiento` date NOT NULL,
  `tipo_mantenimiento` enum('preventivo','correctivo','limpieza','reparacion','inspeccion','desinfeccion') NOT NULL DEFAULT 'preventivo',
  `estado_mantenimiento` enum('programado','en_proceso','completado','cancelado') NOT NULL DEFAULT 'programado',
  `descripcion_trabajo` text NOT NULL,
  `materiales_utilizados` text DEFAULT NULL,
  `costo_mantenimiento` decimal(10,2) DEFAULT NULL,
  `hora_inicio` time DEFAULT NULL,
  `hora_fin` time DEFAULT NULL,
  `prioridad` enum('baja','media','alta','critica') NOT NULL DEFAULT 'media',
  `observaciones_antes` text DEFAULT NULL,
  `observaciones_despues` text DEFAULT NULL,
  `proxima_revision` date DEFAULT NULL,
  `requiere_vaciado` tinyint(1) NOT NULL DEFAULT 0,
  `requiere_traslado_peces` tinyint(1) NOT NULL DEFAULT 0,
  `actividades` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`actividades`)),
  `actividades_ejecutadas` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`actividades_ejecutadas`)),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `mantenimiento_unidades_unidad_produccion_id_foreign` (`unidad_produccion_id`),
  KEY `mantenimiento_unidades_user_id_foreign` (`user_id`),
  CONSTRAINT `mantenimiento_unidades_unidad_produccion_id_foreign` FOREIGN KEY (`unidad_produccion_id`) REFERENCES `unidad_produccions` (`id`) ON DELETE CASCADE,
  CONSTRAINT `mantenimiento_unidades_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mantenimiento_unidades`
--

LOCK TABLES `mantenimiento_unidades` WRITE;
/*!40000 ALTER TABLE `mantenimiento_unidades` DISABLE KEYS */;
/*!40000 ALTER TABLE `mantenimiento_unidades` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=86 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mortalidades`
--

DROP TABLE IF EXISTS `mortalidades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mortalidades` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `lote_id` bigint(20) unsigned NOT NULL,
  `unidad_produccion_id` bigint(20) unsigned DEFAULT NULL,
  `fecha` date NOT NULL,
  `cantidad` int(10) unsigned NOT NULL,
  `causa` varchar(160) DEFAULT NULL,
  `observaciones` text DEFAULT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `mortalidades_lote_id_foreign` (`lote_id`),
  KEY `mortalidades_user_id_foreign` (`user_id`),
  KEY `mortalidades_unidad_produccion_id_foreign` (`unidad_produccion_id`),
  CONSTRAINT `mortalidades_lote_id_foreign` FOREIGN KEY (`lote_id`) REFERENCES `lotes` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `mortalidades_unidad_produccion_id_foreign` FOREIGN KEY (`unidad_produccion_id`) REFERENCES `unidad_produccions` (`id`) ON DELETE SET NULL,
  CONSTRAINT `mortalidades_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mortalidades`
--

LOCK TABLES `mortalidades` WRITE;
/*!40000 ALTER TABLE `mortalidades` DISABLE KEYS */;
/*!40000 ALTER TABLE `mortalidades` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notificaciones`
--

DROP TABLE IF EXISTS `notificaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notificaciones` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tipo` varchar(255) NOT NULL DEFAULT 'info',
  `titulo` varchar(255) NOT NULL,
  `mensaje` text NOT NULL,
  `datos` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`datos`)),
  `icono` varchar(255) DEFAULT NULL,
  `url` varchar(255) DEFAULT NULL,
  `leida` tinyint(1) NOT NULL DEFAULT 0,
  `resuelta` tinyint(1) NOT NULL DEFAULT 0,
  `fecha_vencimiento` timestamp NULL DEFAULT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `nombre_enfermedad` varchar(255) DEFAULT NULL,
  `cantidad_afectados` int(11) DEFAULT NULL,
  `porcentaje_afectados` decimal(8,2) DEFAULT NULL,
  `nivel_riesgo` enum('alto','medio','bajo') DEFAULT NULL,
  `estado_tratamiento` varchar(255) DEFAULT NULL,
  `descripcion_tratamiento` text DEFAULT NULL,
  `fecha_deteccion` date DEFAULT NULL,
  `fecha_inicio_tratamiento` date DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `notificaciones_user_id_leida_index` (`user_id`,`leida`),
  KEY `notificaciones_tipo_leida_index` (`tipo`,`leida`),
  CONSTRAINT `notificaciones_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notificaciones`
--

LOCK TABLES `notificaciones` WRITE;
/*!40000 ALTER TABLE `notificaciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `notificaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications` (
  `id` char(36) NOT NULL,
  `type` varchar(255) NOT NULL,
  `notifiable_type` varchar(255) NOT NULL,
  `notifiable_id` bigint(20) unsigned NOT NULL,
  `data` text NOT NULL,
  `read_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `notifications_notifiable_type_notifiable_id_index` (`notifiable_type`,`notifiable_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) NOT NULL,
  `token` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `precios_libra`
--

DROP TABLE IF EXISTS `precios_libra`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `precios_libra` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `precio` decimal(8,2) NOT NULL COMMENT 'Precio por libra en quetzales',
  `user_id` bigint(20) unsigned NOT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT 1 COMMENT 'Si este precio est├í activo o no',
  `observaciones` text DEFAULT NULL COMMENT 'Observaciones sobre el cambio de precio',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `precios_libra_user_id_foreign` (`user_id`),
  KEY `precios_libra_activo_index` (`activo`),
  CONSTRAINT `precios_libra_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `precios_libra`
--

LOCK TABLES `precios_libra` WRITE;
/*!40000 ALTER TABLE `precios_libra` DISABLE KEYS */;
INSERT INTO `precios_libra` VALUES (1,17.00,1,1,'primer preico','2025-10-20 23:00:40','2025-10-20 23:00:40');
/*!40000 ALTER TABLE `precios_libra` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `protocolo_insumos`
--

DROP TABLE IF EXISTS `protocolo_insumos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `protocolo_insumos` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `protocolo_sanidad_id` bigint(20) unsigned NOT NULL,
  `inventario_item_id` bigint(20) unsigned NOT NULL,
  `cantidad_necesaria` decimal(10,3) NOT NULL DEFAULT 0.000,
  `unidad` varchar(20) NOT NULL,
  `es_obligatorio` tinyint(1) NOT NULL DEFAULT 1,
  `notas` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `protocolo_insumos_protocolo_sanidad_id_inventario_item_id_unique` (`protocolo_sanidad_id`,`inventario_item_id`),
  KEY `protocolo_insumos_inventario_item_id_foreign` (`inventario_item_id`),
  CONSTRAINT `protocolo_insumos_inventario_item_id_foreign` FOREIGN KEY (`inventario_item_id`) REFERENCES `inventario_items` (`id`) ON DELETE CASCADE,
  CONSTRAINT `protocolo_insumos_protocolo_sanidad_id_foreign` FOREIGN KEY (`protocolo_sanidad_id`) REFERENCES `protocolo_sanidads` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `protocolo_insumos`
--

LOCK TABLES `protocolo_insumos` WRITE;
/*!40000 ALTER TABLE `protocolo_insumos` DISABLE KEYS */;
INSERT INTO `protocolo_insumos` VALUES (1,4,6,15.000,'litro',1,'15 consumir minimo','2025-10-25 06:17:57','2025-10-25 06:17:57');
/*!40000 ALTER TABLE `protocolo_insumos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `protocolo_inventario_item`
--

DROP TABLE IF EXISTS `protocolo_inventario_item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `protocolo_inventario_item` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `protocolo_sanidad_id` bigint(20) unsigned NOT NULL,
  `inventario_item_id` bigint(20) unsigned NOT NULL,
  `cantidad` decimal(10,3) NOT NULL DEFAULT 0.000,
  `es_obligatorio` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `protocolo_inventario_unique` (`protocolo_sanidad_id`,`inventario_item_id`),
  KEY `protocolo_inventario_item_inventario_item_id_foreign` (`inventario_item_id`),
  CONSTRAINT `protocolo_inventario_item_inventario_item_id_foreign` FOREIGN KEY (`inventario_item_id`) REFERENCES `inventario_items` (`id`) ON DELETE CASCADE,
  CONSTRAINT `protocolo_inventario_item_protocolo_sanidad_id_foreign` FOREIGN KEY (`protocolo_sanidad_id`) REFERENCES `protocolo_sanidads` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `protocolo_inventario_item`
--

LOCK TABLES `protocolo_inventario_item` WRITE;
/*!40000 ALTER TABLE `protocolo_inventario_item` DISABLE KEYS */;
/*!40000 ALTER TABLE `protocolo_inventario_item` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `protocolo_sanidads`
--

DROP TABLE IF EXISTS `protocolo_sanidads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `protocolo_sanidads` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `fecha_implementacion` date NOT NULL,
  `responsable` varchar(255) NOT NULL,
  `unidad_produccion_id` bigint(20) unsigned DEFAULT NULL,
  `actividades` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`actividades`)),
  `version` int(11) NOT NULL DEFAULT 1,
  `estado` enum('vigente','obsoleta','ejecutado') DEFAULT 'vigente',
  `fecha_ejecucion` timestamp NULL DEFAULT NULL,
  `observaciones_ejecucion` text DEFAULT NULL,
  `protocolo_base_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `protocolo_sanidads_protocolo_base_id_foreign` (`protocolo_base_id`),
  KEY `protocolo_sanidads_estado_protocolo_base_id_index` (`estado`,`protocolo_base_id`),
  KEY `protocolo_sanidads_unidad_produccion_id_foreign` (`unidad_produccion_id`),
  CONSTRAINT `protocolo_sanidads_protocolo_base_id_foreign` FOREIGN KEY (`protocolo_base_id`) REFERENCES `protocolo_sanidads` (`id`) ON DELETE SET NULL,
  CONSTRAINT `protocolo_sanidads_unidad_produccion_id_foreign` FOREIGN KEY (`unidad_produccion_id`) REFERENCES `unidad_produccions` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `protocolo_sanidads`
--

LOCK TABLES `protocolo_sanidads` WRITE;
/*!40000 ALTER TABLE `protocolo_sanidads` DISABLE KEYS */;
/*!40000 ALTER TABLE `protocolo_sanidads` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `proveedores`
--

DROP TABLE IF EXISTS `proveedores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `proveedores` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(150) NOT NULL COMMENT 'Nombre o raz├│n social del proveedor',
  `nit` varchar(20) DEFAULT NULL COMMENT 'NIT del proveedor',
  `codigo` varchar(20) NOT NULL COMMENT 'C├│digo ├║nico del proveedor generado autom├íticamente',
  `tipo` enum('empresa','persona','cooperativa') NOT NULL COMMENT 'Tipo de proveedor',
  `categoria` enum('alimentos','insumos','equipos','servicios','medicamentos','mixto') NOT NULL COMMENT 'Categor├¡a principal de productos/servicios',
  `estado` enum('activo','inactivo','suspendido') NOT NULL DEFAULT 'activo' COMMENT 'Estado del proveedor',
  `telefono_principal` varchar(20) DEFAULT NULL,
  `telefono_secundario` varchar(20) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `sitio_web` varchar(150) DEFAULT NULL,
  `direccion` varchar(255) DEFAULT NULL,
  `departamento` varchar(50) DEFAULT NULL,
  `municipio` varchar(50) DEFAULT NULL,
  `zona` varchar(10) DEFAULT NULL,
  `codigo_postal` varchar(10) DEFAULT NULL,
  `limite_credito` decimal(12,2) DEFAULT NULL COMMENT 'L├¡mite de cr├®dito en GTQ',
  `dias_credito` int(11) NOT NULL DEFAULT 0 COMMENT 'D├¡as de cr├®dito otorgados',
  `forma_pago_preferida` enum('contado','credito','transferencia','cheque') NOT NULL DEFAULT 'contado',
  `moneda_preferida` enum('GTQ','USD','EUR') NOT NULL DEFAULT 'GTQ',
  `calificacion` decimal(3,2) DEFAULT NULL COMMENT 'Calificaci├│n del 1.00 al 5.00',
  `total_evaluaciones` int(11) NOT NULL DEFAULT 0,
  `tiempo_entrega_promedio` decimal(5,2) DEFAULT NULL COMMENT 'D├¡as promedio de entrega',
  `porcentaje_cumplimiento` decimal(5,2) DEFAULT NULL COMMENT '% de cumplimiento en entregas',
  `saldo_actual` decimal(12,2) NOT NULL DEFAULT 0.00 COMMENT 'Saldo actual en GTQ (+ a favor del proveedor)',
  `total_compras_mes` decimal(12,2) NOT NULL DEFAULT 0.00 COMMENT 'Total compras del mes actual',
  `total_compras_historico` decimal(12,2) NOT NULL DEFAULT 0.00 COMMENT 'Total hist├│rico de compras',
  `fecha_ultima_compra` date DEFAULT NULL,
  `fecha_ultimo_pago` date DEFAULT NULL,
  `contacto_comercial_nombre` varchar(100) DEFAULT NULL COMMENT 'Nombre del contacto comercial',
  `contacto_comercial_telefono` varchar(20) DEFAULT NULL,
  `contacto_comercial_email` varchar(100) DEFAULT NULL,
  `contacto_comercial_cargo` varchar(80) DEFAULT NULL,
  `especialidades` text DEFAULT NULL COMMENT 'Especialidades o productos principales',
  `condiciones_especiales` text DEFAULT NULL COMMENT 'Condiciones comerciales especiales',
  `notas` text DEFAULT NULL COMMENT 'Notas adicionales',
  `requiere_orden_compra` tinyint(1) NOT NULL DEFAULT 0 COMMENT 'Si requiere orden de compra formal',
  `acepta_devoluciones` tinyint(1) NOT NULL DEFAULT 1 COMMENT 'Si acepta devoluciones',
  `certificaciones` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Lista de certificaciones (ISO, HACCP, etc.)' CHECK (json_valid(`certificaciones`)),
  `documentos` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Documentos adjuntos (contratos, certificados)' CHECK (json_valid(`documentos`)),
  `fecha_registro` timestamp NOT NULL DEFAULT current_timestamp(),
  `fecha_actualizacion` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `registrado_por` bigint(20) unsigned DEFAULT NULL,
  `actualizado_por` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `proveedores_codigo_unique` (`codigo`),
  KEY `proveedores_estado_categoria_index` (`estado`,`categoria`),
  KEY `proveedores_tipo_estado_index` (`tipo`,`estado`),
  KEY `proveedores_fecha_ultima_compra_index` (`fecha_ultima_compra`),
  KEY `proveedores_calificacion_index` (`calificacion`),
  KEY `proveedores_departamento_municipio_index` (`departamento`,`municipio`),
  KEY `proveedores_registrado_por_foreign` (`registrado_por`),
  KEY `proveedores_actualizado_por_foreign` (`actualizado_por`),
  CONSTRAINT `proveedores_actualizado_por_foreign` FOREIGN KEY (`actualizado_por`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `proveedores_registrado_por_foreign` FOREIGN KEY (`registrado_por`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `proveedores`
--

LOCK TABLES `proveedores` WRITE;
/*!40000 ALTER TABLE `proveedores` DISABLE KEYS */;
INSERT INTO `proveedores` VALUES (1,'Iso 9001','12345678901','PER-INS-5055','persona','insumos','activo','asdf',NULL,'asdf@pez.com',NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,'contado','GTQ',NULL,0,NULL,NULL,0.00,0.00,0.00,NULL,NULL,NULL,NULL,NULL,NULL,'asdf',NULL,'asdf',0,1,NULL,NULL,'2025-10-25 07:21:03','2025-10-25 07:21:03',1,NULL,'2025-10-25 07:21:03','2025-10-25 07:21:03');
/*!40000 ALTER TABLE `proveedores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role_modules`
--

DROP TABLE IF EXISTS `role_modules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `role_modules` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `role_id` bigint(20) unsigned NOT NULL,
  `module` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `role_modules_role_id_module_unique` (`role_id`,`module`),
  CONSTRAINT `role_modules_role_id_foreign` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role_modules`
--

LOCK TABLES `role_modules` WRITE;
/*!40000 ALTER TABLE `role_modules` DISABLE KEYS */;
/*!40000 ALTER TABLE `role_modules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `roles` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `display_name` varchar(255) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `permissions` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`permissions`)),
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `roles_name_unique` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `seguimiento_acciones`
--

DROP TABLE IF EXISTS `seguimiento_acciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `seguimiento_acciones` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `accion_correctiva_id` bigint(20) unsigned NOT NULL,
  `user_id` bigint(20) unsigned NOT NULL,
  `descripcion` text NOT NULL,
  `estado_anterior` varchar(255) DEFAULT NULL,
  `estado_nuevo` varchar(255) DEFAULT NULL,
  `archivo_evidencia` varchar(255) DEFAULT NULL,
  `nombre_archivo_original` varchar(255) DEFAULT NULL,
  `tipo_archivo` varchar(255) DEFAULT NULL,
  `tama├▒o_archivo` int(11) DEFAULT NULL,
  `estado` enum('activo','eliminado') NOT NULL DEFAULT 'activo',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `seguimiento_acciones_accion_correctiva_id_foreign` (`accion_correctiva_id`),
  KEY `seguimiento_acciones_user_id_foreign` (`user_id`),
  CONSTRAINT `seguimiento_acciones_accion_correctiva_id_foreign` FOREIGN KEY (`accion_correctiva_id`) REFERENCES `acciones_correctivas` (`id`) ON DELETE CASCADE,
  CONSTRAINT `seguimiento_acciones_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `seguimiento_acciones`
--

LOCK TABLES `seguimiento_acciones` WRITE;
/*!40000 ALTER TABLE `seguimiento_acciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `seguimiento_acciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `seguimientos`
--

DROP TABLE IF EXISTS `seguimientos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `seguimientos` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `lote_id` bigint(20) unsigned NOT NULL,
  `user_id` bigint(20) unsigned NOT NULL,
  `fecha_seguimiento` date NOT NULL,
  `cantidad_actual` int(11) DEFAULT NULL,
  `mortalidad` int(11) NOT NULL DEFAULT 0,
  `peso_promedio` decimal(8,2) DEFAULT NULL,
  `talla_promedio` decimal(8,2) DEFAULT NULL,
  `temperatura_agua` decimal(5,2) DEFAULT NULL,
  `ph_agua` decimal(4,2) DEFAULT NULL,
  `oxigeno_disuelto` decimal(5,2) DEFAULT NULL,
  `observaciones` text DEFAULT NULL,
  `tipo_seguimiento` enum('rutinario','muestreo','mortalidad','traslado') NOT NULL DEFAULT 'rutinario',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `seguimientos_lote_id_foreign` (`lote_id`),
  KEY `seguimientos_user_id_foreign` (`user_id`),
  CONSTRAINT `seguimientos_lote_id_foreign` FOREIGN KEY (`lote_id`) REFERENCES `lotes` (`id`) ON DELETE CASCADE,
  CONSTRAINT `seguimientos_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `seguimientos`
--

LOCK TABLES `seguimientos` WRITE;
/*!40000 ALTER TABLE `seguimientos` DISABLE KEYS */;
INSERT INTO `seguimientos` VALUES (1,2,1,'2025-10-20',1479,0,0.51,4.50,NULL,NULL,NULL,NULL,'rutinario','2025-10-21 02:27:14','2025-10-21 02:27:14'),(2,2,1,'2025-10-20',1479,0,0.51,4.50,NULL,NULL,NULL,'poads├│ihjadsf','rutinario','2025-10-21 02:28:56','2025-10-21 02:28:56'),(3,1,1,'2025-10-20',1950,0,0.51,2.60,NULL,NULL,NULL,NULL,'rutinario','2025-10-21 02:39:14','2025-10-21 02:39:14'),(4,3,1,'2025-10-25',4690,100,0.51,8.50,NULL,NULL,NULL,NULL,'muestreo','2025-10-25 08:56:05','2025-10-25 08:56:05');
/*!40000 ALTER TABLE `seguimientos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sessions` (
  `id` varchar(255) NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `payload` longtext NOT NULL,
  `last_activity` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipo_alimentos`
--

DROP TABLE IF EXISTS `tipo_alimentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tipo_alimentos` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `inventario_item_id` bigint(20) unsigned DEFAULT NULL,
  `nombre` varchar(100) NOT NULL,
  `marca` varchar(100) DEFAULT NULL,
  `categoria` enum('concentrado','pellet','hojuela','artesanal','vivo','suplemento') NOT NULL,
  `proteina` decimal(5,2) DEFAULT NULL,
  `grasa` decimal(5,2) DEFAULT NULL,
  `fibra` decimal(5,2) DEFAULT NULL,
  `humedad` decimal(5,2) DEFAULT NULL,
  `ceniza` decimal(5,2) DEFAULT NULL,
  `presentacion` enum('sacos','bolsas','granel','unidades') NOT NULL,
  `peso_presentacion` decimal(8,2) DEFAULT NULL,
  `costo_por_kg` decimal(8,2) DEFAULT NULL COMMENT 'Costo por libra en quetzales',
  `descripcion` text DEFAULT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `tipo_alimentos_categoria_activo_index` (`categoria`,`activo`),
  KEY `tipo_alimentos_nombre_marca_index` (`nombre`,`marca`),
  KEY `tipo_alimentos_inventario_item_id_foreign` (`inventario_item_id`),
  CONSTRAINT `tipo_alimentos_inventario_item_id_foreign` FOREIGN KEY (`inventario_item_id`) REFERENCES `inventario_items` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipo_alimentos`
--

LOCK TABLES `tipo_alimentos` WRITE;
/*!40000 ALTER TABLE `tipo_alimentos` DISABLE KEYS */;
/*!40000 ALTER TABLE `tipo_alimentos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipo_cambios`
--

DROP TABLE IF EXISTS `tipo_cambios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tipo_cambios` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `fecha` date NOT NULL,
  `valor` decimal(10,4) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `tipo_cambios_fecha_unique` (`fecha`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipo_cambios`
--

LOCK TABLES `tipo_cambios` WRITE;
/*!40000 ALTER TABLE `tipo_cambios` DISABLE KEYS */;
INSERT INTO `tipo_cambios` VALUES (1,'2025-10-20',7.7500,'2025-10-20 22:59:45','2025-10-20 22:59:45');
/*!40000 ALTER TABLE `tipo_cambios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `traslados`
--

DROP TABLE IF EXISTS `traslados`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `traslados` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `lote_id` bigint(20) unsigned NOT NULL,
  `unidad_origen_id` bigint(20) unsigned DEFAULT NULL,
  `unidad_destino_id` bigint(20) unsigned NOT NULL,
  `user_id` bigint(20) unsigned NOT NULL,
  `seguimiento_id` bigint(20) unsigned DEFAULT NULL,
  `fecha_traslado` date NOT NULL,
  `cantidad_trasladada` int(11) NOT NULL,
  `cantidad_perdida` int(11) NOT NULL DEFAULT 0,
  `peso_promedio_traslado` decimal(8,2) DEFAULT NULL,
  `motivo_traslado` enum('crecimiento','sobrepoblacion','mejores_condiciones','mantenimiento','clasificacion','otro') NOT NULL DEFAULT 'crecimiento',
  `estado_traslado` enum('planificado','en_proceso','completado','cancelado') NOT NULL DEFAULT 'planificado',
  `observaciones_origen` text DEFAULT NULL,
  `observaciones_destino` text DEFAULT NULL,
  `hora_inicio` time DEFAULT NULL,
  `hora_fin` time DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `traslados_lote_id_foreign` (`lote_id`),
  KEY `traslados_unidad_origen_id_foreign` (`unidad_origen_id`),
  KEY `traslados_unidad_destino_id_foreign` (`unidad_destino_id`),
  KEY `traslados_user_id_foreign` (`user_id`),
  KEY `traslados_seguimiento_id_foreign` (`seguimiento_id`),
  CONSTRAINT `traslados_lote_id_foreign` FOREIGN KEY (`lote_id`) REFERENCES `lotes` (`id`) ON DELETE CASCADE,
  CONSTRAINT `traslados_seguimiento_id_foreign` FOREIGN KEY (`seguimiento_id`) REFERENCES `seguimientos` (`id`) ON DELETE SET NULL,
  CONSTRAINT `traslados_unidad_destino_id_foreign` FOREIGN KEY (`unidad_destino_id`) REFERENCES `unidad_produccions` (`id`) ON DELETE CASCADE,
  CONSTRAINT `traslados_unidad_origen_id_foreign` FOREIGN KEY (`unidad_origen_id`) REFERENCES `unidad_produccions` (`id`) ON DELETE SET NULL,
  CONSTRAINT `traslados_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `traslados`
--

LOCK TABLES `traslados` WRITE;
/*!40000 ALTER TABLE `traslados` DISABLE KEYS */;
/*!40000 ALTER TABLE `traslados` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trazabilidad_cosechas`
--

DROP TABLE IF EXISTS `trazabilidad_cosechas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `trazabilidad_cosechas` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `lote_id` bigint(20) unsigned NOT NULL,
  `fecha_cosecha` datetime NOT NULL COMMENT 'Fecha y hora en que se realiz├│ la cosecha',
  `tipo_cosecha` enum('parcial','total') NOT NULL COMMENT 'Indica si es una cosecha parcial o total del lote',
  `peso_bruto` decimal(10,2) NOT NULL COMMENT 'Peso total incluyendo empaques y hielo',
  `peso_neto` decimal(10,2) NOT NULL COMMENT 'Peso neto del producto cosechado',
  `unidades` int(11) DEFAULT NULL COMMENT 'N├║mero de unidades cuando aplique',
  `costo_mano_obra` decimal(10,2) NOT NULL DEFAULT 0.00 COMMENT 'Costo del personal involucrado en la cosecha',
  `costo_insumos` decimal(10,2) NOT NULL DEFAULT 0.00 COMMENT 'Costo de materiales como hielo, empaques, etc.',
  `costo_operativo` decimal(10,2) NOT NULL DEFAULT 0.00 COMMENT 'Otros costos operativos',
  `costo_total` decimal(10,2) NOT NULL COMMENT 'Suma total de todos los costos',
  `destino_tipo` enum('cliente_final','bodega','mercado_local','exportacion') NOT NULL COMMENT 'Categor├¡a del destino de la cosecha',
  `destino_detalle` varchar(255) NOT NULL COMMENT 'Descripci├│n espec├¡fica del destino',
  `notas` text DEFAULT NULL COMMENT 'Observaciones adicionales de la cosecha',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_fecha_cosecha` (`fecha_cosecha`),
  KEY `idx_lote_fecha` (`lote_id`,`fecha_cosecha`),
  CONSTRAINT `trazabilidad_cosechas_lote_id_foreign` FOREIGN KEY (`lote_id`) REFERENCES `lotes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trazabilidad_cosechas`
--

LOCK TABLES `trazabilidad_cosechas` WRITE;
/*!40000 ALTER TABLE `trazabilidad_cosechas` DISABLE KEYS */;
/*!40000 ALTER TABLE `trazabilidad_cosechas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `unidad_produccions`
--

DROP TABLE IF EXISTS `unidad_produccions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `unidad_produccions` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `codigo` varchar(255) NOT NULL,
  `nombre` varchar(255) NOT NULL,
  `tipo` enum('tanque','estanque','jaula','sistema_especializado') NOT NULL,
  `capacidad_maxima` decimal(10,2) DEFAULT NULL,
  `area` decimal(10,2) DEFAULT NULL,
  `profundidad` decimal(8,2) DEFAULT NULL,
  `estado` enum('activo','mantenimiento','inactivo') NOT NULL DEFAULT 'activo',
  `descripcion` text DEFAULT NULL,
  `fecha_construccion` date DEFAULT NULL,
  `ultimo_mantenimiento` date DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `unidad_produccions`
--

LOCK TABLES `unidad_produccions` WRITE;
/*!40000 ALTER TABLE `unidad_produccions` DISABLE KEYS */;
/*!40000 ALTER TABLE `unidad_produccions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_modules`
--

DROP TABLE IF EXISTS `user_modules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_modules` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `module` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_modules_user_id_module_unique` (`user_id`,`module`),
  CONSTRAINT `user_modules_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_modules`
--

LOCK TABLES `user_modules` WRITE;
/*!40000 ALTER TABLE `user_modules` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_modules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `role` varchar(255) NOT NULL DEFAULT 'generico',
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `password_changed_at` timestamp NULL DEFAULT NULL,
  `estado` enum('activo','inactivo') NOT NULL DEFAULT 'activo',
  `remember_token` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ventas`
--

DROP TABLE IF EXISTS `ventas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ventas` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `numero_venta` varchar(12) NOT NULL COMMENT 'Formato: 2025000001',
  `a├▒o` year(4) NOT NULL COMMENT 'A├▒o de la venta para correlativo',
  `correlativo` int(11) NOT NULL COMMENT 'N├║mero correlativo del a├▒o',
  `fecha_venta` date NOT NULL,
  `hora_venta` time NOT NULL,
  `tipo_cliente` enum('CF','NIT') NOT NULL DEFAULT 'NIT',
  `cliente_nombre` varchar(255) NOT NULL COMMENT 'Nombre del cliente',
  `cliente_nit` varchar(255) DEFAULT NULL COMMENT 'NIT del cliente si aplica',
  `subtotal` decimal(12,2) NOT NULL COMMENT 'Subtotal antes de impuestos',
  `impuestos` decimal(12,2) NOT NULL DEFAULT 0.00 COMMENT 'Impuestos aplicados',
  `total` decimal(12,2) NOT NULL COMMENT 'Total final de la venta',
  `metodo_pago` enum('efectivo','transferencia','cheque','credito') NOT NULL DEFAULT 'efectivo',
  `estado` enum('pendiente','completada','cancelada') NOT NULL DEFAULT 'completada',
  `observaciones` text DEFAULT NULL,
  `user_id` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ventas_numero_venta_unique` (`numero_venta`),
  KEY `ventas_user_id_foreign` (`user_id`),
  KEY `ventas_a├▒o_correlativo_index` (`a├▒o`,`correlativo`),
  KEY `ventas_fecha_venta_estado_index` (`fecha_venta`,`estado`),
  KEY `ventas_cliente_nit_index` (`cliente_nit`),
  KEY `ventas_numero_venta_index` (`numero_venta`),
  CONSTRAINT `ventas_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ventas`
--

LOCK TABLES `ventas` WRITE;
/*!40000 ALTER TABLE `ventas` DISABLE KEYS */;
/*!40000 ALTER TABLE `ventas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ventas_old`
--

DROP TABLE IF EXISTS `ventas_old`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ventas_old` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `codigo_venta` varchar(255) NOT NULL,
  `cliente` varchar(255) NOT NULL,
  `telefono_cliente` varchar(255) DEFAULT NULL,
  `email_cliente` varchar(255) DEFAULT NULL,
  `fecha_venta` date NOT NULL,
  `cantidad_kg` decimal(10,2) NOT NULL,
  `precio_kg` decimal(10,2) NOT NULL,
  `total` decimal(12,2) NOT NULL,
  `tipo_cambio` decimal(8,4) NOT NULL,
  `total_usd` decimal(12,2) NOT NULL,
  `metodo_pago` enum('efectivo','transferencia','cheque','credito') NOT NULL,
  `estado` enum('pendiente','completada','cancelada') NOT NULL DEFAULT 'pendiente',
  `observaciones` text DEFAULT NULL,
  `cosecha_parcial_id` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ventas_codigo_venta_unique` (`codigo_venta`),
  KEY `ventas_cosecha_parcial_id_foreign` (`cosecha_parcial_id`),
  KEY `ventas_fecha_venta_estado_index` (`fecha_venta`,`estado`),
  KEY `ventas_cliente_index` (`cliente`),
  CONSTRAINT `ventas_cosecha_parcial_id_foreign` FOREIGN KEY (`cosecha_parcial_id`) REFERENCES `cosechas_parciales` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ventas_old`
--

LOCK TABLES `ventas_old` WRITE;
/*!40000 ALTER TABLE `ventas_old` DISABLE KEYS */;
/*!40000 ALTER TABLE `ventas_old` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-10-25  4:09:12
